body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #262626;
  color: #91979d;
  padding: 16px 0px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.aside {
  width: 20%;
}

.aside-card {
  margin-left: 20%;
  padding: 10%;
}

.about-content {
  background-color: #f8f9fa;
}

.aside-title {
  font-style: italic;
}

.main {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: wrap;
}

.main-article {
  width: 48%;
  height: auto;
  margin: 1%;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #eaeaea;
}

.article-photo {
  width: 100%;
}

.article-caption {
  padding: 5%;
}

.right-aside {
  align-self: center;
}

.aside-login {
  margin: 0px 5%;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.aside-login-form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-login-input {
  width: 90%;
}

.aside-login-button {
  background-color: #3578f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.footer {
  padding: 1% 0px;
  background-color: #f9f9f9;
  color: #9d9d9d;
  text-align: center;
}
